*.o
*.Po
*.Plo
*.lo
*.la
*~
*Makefile
*.libs
autom4te.cache
config.log
config.h
config.status
stamp-h1
composite
imgsrctest
jpegcheck
mkgreyprofile
mklabprofile
mkrgbprofile
profileuitest
pvtest
stpuitest
threadtest
printqueuetest
po/remove-potcdate.sed

*Makefile.in
